{% extends "base.html" %} {% block title %}Setlists{% endblock %}
{%block content%}
<div class="main" id="mainView">
    <!-- RIGHT COLUMN -->
    <div id="main-content" class="flex-grow-1 p-4">
        <div class="song-library-header">
            <h1>Setlists</h1>
        </div>
    </div>
    <div class="setlist-container">
        {% for setlist in setlists%}
        {%if setlist.songs|length > 0%}
            <div class="setlist-card">
                <div class="setlist-header"> {{ setlist.date_created.strftime('%B %d, %Y')}}
                    <ul class="setlist-songs">
                        {% for link in setlist.songs_link %}
                            <li class="song-item d-flex justify-content-between align-items-center">
                                <div>
                                    <span class="song-title">{{ link.song.title }}</span>
                                    <span class="song-artist">{{ link.song.artist }}</span>
                                    <span class="song-key">{{ link.song.og_key }}</span>
                                </div>

                                <div class="col-auto dropdown ms-auto">
                                    <button class="dropdown-toggle-btn btn btn-sm btn-outline-light" type="button">
                                        <i class="bi bi-three-dots"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-dark">
                                        <li><a class="dropdown-item" href="#" onclick="deleteFromSetlist({{ song.id }}, '{{ setlist.date_created.isoformat() }}')">Delete from this setlist</a></li>
                                    </ul>
                                </div>
                            </li>

                        
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {%endif%}
        {% endfor %}
    </div>

</div>
{%endblock%}